<div class="grid-container">
	<%= form_with(model: recipe, local: true) do |form| %>
	
	  <% if recipe.errors.any? %>
	    <div id="error_explanation" class="grid-x grid-padding-x grid-padding-y">
			<div class="cell small-12 medium-12 large-12">
		      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

		      <ul>
		      <% recipe.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		  </div>
	    </div>
	  <% end %>

	  <div class="grid-x grid-padding-x">
		  <div class="field cell small-12 medium-12 large-12">
		    <%= form.label :name %>
		    <%= form.text_field :name, id: :recipe_name %>
		  </div>
		  <div class="field cell small-12 medium-12 large-12">
		    <%= form.label :quick, "Quick to Make?" %>
		    <%= form.check_box :quick, id: :recipe_quick %>
		  </div>
		  <div class="actions">
		    <%= form.submit %>
		  </div>
	  </div>
	    
	<% end %>
</div>