<div class="grid-container">
	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="cell small-12 medium-12 large-12">
			<p id="notice"><%= notice %></p>

			<h1>Recipes</h1>
		</div>
	</div>

	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="cell small-12 medium-12 large-12">
			<%= search_form_for(@q) do |f| %>
				<%= f.search_field :name_cont, :placeholder => "Search by name" %>
				<%= f.submit "Search", :class => "fas fa-search" %>
			<% end %>
		</div>
	</div>

	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="cell small-12 medium-12 large-12">
			<%= link_to 'Add a new recipe', new_recipe_path %>
		</div>
	</div>
	
	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="cell small-12 medium-12 large-12">
			<table>
			  <thead>
			    <tr>
			      <th>Name</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recipes.each do |recipe| %>
			      <tr>
			        <td><%= link_to recipe.name, recipe %></td>
			        <td><%= link_to content_tag(:i, nil, :class => "fas fa-pencil-alt"), edit_recipe_path(recipe) %></td>
			        <td><%= link_to content_tag(:i, nil, :class => "fas fa-trash-alt"), recipe, method: :delete, data: { confirm: 'Really delete?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>

